<div class="main-content-inner">
  <div class="row">
    <div class="col-lg-6 col-ml-12">
      <div class="row chan">
        <!-- Textual inputs start -->
        <div class="col-12 mt-5">
          <div class="card">
            <div class="card-body">
              <form
                action="/enquires/register"
                method="post"
                enctype="multipart/form-data"
              >
                <div class="form-group">
                  <h4 class="header-title">Add New Enquiry</h4>
                  <div class="form-group">
                    <label for="garage_name">Garage Id</label>
                    <select name="garage_name" id="garage_name" class="form-control">
                      <% garages.forEach((row) => { %>
                        <option><%= row.garage_name %></option>
                      <% }); %>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label"
                    >Address</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Address"
                    name="address"
                    id="example-text-input"
                  />
                </div>
                <div class="form-group">
                  <label for="Select">Select Company:</label>
                  <select name="company_id" id="SelectCompany" class="form-control">
                    <% company.forEach((row) => { %>
                      <option value="<%= row.id %>"><%= row.company %></option>
                      <% }); %>
                    </select>
                </div>
                <div class="form-group">
                  <label for="Select">Select Car:</label>
                  <select name="car_id" id="SelectCar" class="form-control"></select>
                </div>
                <div class="form-group">
                  <label for="SelectAxel" class="col-form-label"
                    >Axel</label
                  >
                  <select name="axel" id="SelectAxel" class="form-control">
                    <option>Left</option>
                    <option>Right</option>
                    <option value="Both">Both</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label class="col-form-label">Add Images </label>
                  <input
                    class="form-control"
                    type="file"
                    name="enquiryImages"
                    multiple
                  />
                </div>

                <div class="form-group">
                  <label for="example-text-input" class="col-form-label"
                    >Cordinates</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Latitude"
                    name="lat"
                    id="example-text-input"
                  />
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Longitude"
                    name="lng"
                    id="example-text-input"
                  />
                </div>
                <div class="form-group">
                  <label for="Select">Select State:</label>
                  <select name="state" id="SelectState" class="form-control">
                    <% states.forEach((row) => { %>
                      <option value="<%= row.id %>"><%= row.state %></option>
                    <% }); %>
                  </select>
                </div>
                <div class="form-group">
                  <label for="Select">Select City:</label>
                  <select name="city" id="SelectCity" class="form-control"></select>
                </div>
                

                <div class="form-group">
                  <label for="example-text-input" class="col-form-label"
                    >Offered Price</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="offered Price"
                    name="offered_price"
                    id="example-text-input"
                  />
                </div>
                <button class="btn btn-primary mb-3">Add Enquiry</button>
              </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Textual inputs end -->
        <!-- main content area end -->
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $("#SelectState").change(function () {
      // console.log($(this)); // Log the entire select element
      const selectedStateId = $(this).val();
      // console.log("Selected State ID:", selectedStateId);
      $.ajax({
        url: `/enquires/get-cities/${selectedStateId}`,
        method: "GET",
        success: function (response) {
          const cities = response.cities;
          $("#SelectCity").empty();

          if (cities.length === 0) {
            $("#SelectCity").append(
              $("<option>", {
                text: "No City Found in Above State",
                value: "",
              })
            );
          } else {
            cities.forEach(function (city) {
              $("#SelectCity").append(
                $("<option>", {
                  text: city.city,
                  value: city.city_id,
                })
              );
            });
          }
        },
        error: function (error) {
          console.error(error);
        },
      });
    });
  });

  $(document).ready(function () {
    $("#SelectCompany").change(function () {
      // console.log($(this));
      const selectedCompanyId = $(this).val();
      // console.log("Selected Company ID:", selectedCompanyId);
      $.ajax({
        url: `/enquires/get-cars/${selectedCompanyId}`,
        method: "GET",
        success: function (response) {
          const cars = response.cars;
          $("#SelectCar").empty();

          if (cars.length === 0) {
            $("#SelectCar").append(
              $("<option>", {
                text: "No Car Found in Above Company",
                value: "",
              })
            );
          } else {
            cars.forEach(function (car) {
              $("#SelectCar").append(
                $("<option>", {
                  text: car.car_name,
                  value: car.id,
                })
              );
            });
          }
        },
        error: function (error) {
          console.error(error);
        },
      });
    });
  });
</script>