<div class="main-content-inner">
  <div class="row">
    <!-- Dark table start -->
    <div class="col-12 mt-5">
      <div class="card">
        <div class="card-body">
          <div class="mang">
            <h4 class="header-title">Manage Enquires</h4>
            <a class="btn btn-primary mb-3" href="/enquires/add" role="button"
              >Add Enquiry</a
            >
          </div>
          <div class="data-tables datatable-dark">
            <table id="dataTable3" class="text-center">
              <thead class="text-capitalize">
                <tr>
                  <th>ID</th>
                  <th>Garage Id</th>
                  <th>Company</th>
                  <th>Car</th>
                  <th>Axel</th>
                  <th>Offered Price</th>
                  <th>Status</th>
                  <th>Edit</th>
                  <th>Delete</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% enquires.forEach((row) => { %>
                <tr>
                  <td><%= row.id %></td>
                  <td><%= row.garage_id %></td>
                  <td><%= row.company %></td>
                  <td><%= row.car_name %></td>
                  <td><%= row.axel %></td>
                  <td><%= row.offered_price %></td>
                  <td>   
                    <button class="btn btn-<% if (row.status == "Pending") { %>secondary<% } else if (row.status == "Assigned") { %>info<% } else if (row.status == "Completed") { %>success<% } else if (row.status == "Cancelled") { %>danger<% } %> mb-3" >
                    <%= row.status %>
                  </button> </td>
                  

                  <td>
                    <div class="icon-container">
                      <a href="edit/page/<%= row.id %>"
                        ><span class="ti-marker-alt"></span
                        ><span class="icon-name">Edit</span></a
                      >
                    </div>
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-danger mt-3"
                      data-toggle="modal"
                      data-target="#exampleModalLong-<%= row.id %>"
                    >
                      Delete User
                    </button>

                    <div class="modal fade" id="exampleModalLong-<%= row.id %>">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Delete User</h5>
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                            >
                              <span>&times;</span>
                            </button>
                          </div>
                          <form
                            action="delete/<%= row.id %>?_method=PUT"
                            method="post"
                          >
                            <div class="modal-body">
                              <h6>Do you want to delete the user?</h6>
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                              >
                                Close
                              </button>
                              <button type="submit" class="btn btn-danger">
                                Save changes
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                </tr>

                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Dark table end -->
  </div>
</div>
