<div class="main-content-inner">
  <div class="row">
    <!-- Dark table start -->
    <div class="col-12 mt-5">
      <div class="card">
        <div class="card-body">
          <div class="mang">
            <h4 class="header-title">Manage Products</h4>
            <a class="btn btn-primary mb-3" href="/products/add" role="button"
              >Add Product</a
            >
          </div>
          <div class="data-tables datatable-dark">
            <table id="dataTable3" class="text-center">
              <thead class="text-capitalize">
                <tr>
                  <th>ID</th>
                  <th>Company Id</th>
                  <th>Car Id</th>
                  <th>Subadmin Id</th>
                  <th>Inventory</th>
                  <!-- <th>Edit</th>
                  <th>Delete</th> -->
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% products.forEach((row) => { %>
                <tr>
                  <td><%= row.id %></td>
                  <td><%= row.company %></td>
                  <td><%= row.car_name %></td>
                  <td><%= row.name %></td>
                  <td><%= row.inventory %></td>
                  <!-- <td>
                    <div class="icon-container">
                      <a href="edit/page/<%= row.id %>"
                        ><span class="ti-marker-alt"></span
                        ><span class="icon-name">Edit</span></a
                      >
                    </div>
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-danger mt-3"
                      data-toggle="modal"
                      data-target="#exampleModalLong-<%= row.car_id %>"
                    >
                      Delete Car
                    </button>

                    <div
                      class="modal fade"
                      id="exampleModalLong-<%= row.car_id %>"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Delete Car</h5>
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                            >
                              <span>&times;</span>
                            </button>
                          </div>
                          <form
                            action="delete/<%= row.id %>?_method=DELETE"
                            method="post"
                          >
                            <div class="modal-body">
                              <h6>Do you want to delete the Car?</h6>
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                              >
                                Close
                              </button>
                              <button type="submit" class="btn btn-danger">
                                Save changes
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </td> -->
                  <td></td>
                </tr>

                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Dark table end -->
  </div>
</div>
