<div class="main-content-inner">
  <div class="row">
    <!-- Dark table start -->
    <div class="col-12 mt-5">
      <div class="card">
        <div class="card-body">
          <div class="mang">
            <h4 class="header-title">Manage Products</h4>
            <a class="btn btn-primary mb-3" href="/products/add" role="button"
              >Add Product</a
            >
          </div>
          <div class="data-tables datatable-dark">
            <table id="dataTable3" class="text-center">
              <thead class="text-capitalize">
                <tr>
                  <th>ID</th>
                  <th>Company Id</th>
                  <th>Car Id</th>
                  <th>Subadmin Id</th>
                  <th>Inventory</th>
                  <th>Date|Time</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% products.forEach((row) => { %>
                <tr>
                  <td><%= row.id %></td>
                  <td><%= row.company %></td>
                  <td><%= row.car_name %></td>
                  <td><%= row.name %></td>
                  <td><%= row.inventory %></td>
                  <td><%= row.date %></td>
                  <td></td>
                </tr>

                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Dark table end -->
  </div>
</div>
